nav {
  &.navbar-light {
    .navbar-brand {
      color: map-get($color, "brand");
    }

    .navbar-nav .nav-link {
      color: map-get($color, "black");
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
