#app {
  max-width: 1440px;
  margin: 0 auto;
}
nav {
  &.navbar-light {
    .navbar-brand {
      color: #ed7800;
    }

    .navbar-nav .nav-link {
      color: #000;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
